@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
.modal-content {
	@apply fixed inset-0 z-40;
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	flex-direction: column;
	align-items: center; /* Center children horizontally */
	justify-content: center; /* Center children vertically */
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.modal-content.show {
	@apply overflow-y-auto; /* Enable scroll if content is bigger than screen */
	opacity: 1;
}
.modal-inner-content {
	@apply max-w-screen-2xl mx-auto p-4;
}
/* Close button styling */
.close-button {
	@apply fixed top-16 right-3 p-3; /* Initial position and padding */
	border-radius: 15%; /* Rounded corners */
	border: 2px solid white; /* Border styling */
	background-color: rgba(255, 255, 255, 0.2); /* Background with opacity */
	transition: background-color 0.3s; /* Transition for hover effect */

	/* Adjust position and size for mobile screens */
	@apply sm:top-[6%] sm:right-[2%] sm:p-1;
	/* Adjust position for medium screens */
	@apply md:top-[8%] md:right-[2%] md:p-2;

	/* Adjust position for larger screens */
	@apply lg:top-[8%] lg:right-[2%];
}

.close-button:hover {
	background-color: rgba(255, 255, 255, 0.3); /* Hover effect */
}

.close-button-icon {
	@apply h-8 w-8; /* Icon size for base */
	color: white; /* Icon color */

	/* Adjust icon size for different screens */
	@apply sm:h-10 sm:w-10 md:h-12 md:w-12 lg:h-14 lg:w-14;
}
.no-scroll {
	overflow: hidden;
}
@media (min-width: 768px) {
	/* Adjust the min-width to whatever breakpoint suits your design */
	.two-column-list {
		column-count: 2;
		column-gap: 1rem;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	min-height: 100vh; /* Ensure full viewport coverage */
}
